<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="<%= current_page.data.tags unless current_page.data.tags.nil? %>">
  <meta name="description" content="<%= current_page.data.description unless current_page.data.description.nil? %>">
  <meta property="og:title" content="<%= current_article.title unless current_article.nil? %> - @nakanishy's blog">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://blog.nakanishy.com">
  <meta property="og:site_name" content="@nakanishy's blog">
  <meta property="og:description" content="<%= current_page.data.description unless current_page.data.description.nil? %>">
  <meta property="og:image" content="https://blog.nakanishy.com/images/<%= current_resource.data.eyecatch %>">
  <meta property="fb:app_id" content="1086943964688762">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= current_article.title unless current_article.nil? %> - @nakanishy's blog">
  <meta name="twitter:description" content="<%= current_page.data.description unless current_page.data.description.nil? %>">
  <meta name="twitter:creator" content="@nakanishy">
  <meta name="twitter:image:src" content="https://blog.nakanishy.com/images/<%= current_resource.data.eyecatch %>">
  <title><%= current_article.title unless current_article.nil? %> - @nakanishy's blog</title>
  <link rel="icon" type="image/png" href="./images/favicon.png">
  <%= stylesheet_link_tag 'nakanishy' %>
  <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet" type="text/css">
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body>
  <%= partial 'partials/header' %>
  <div class="content">
    <div class="wrapper">
      <article class="article">
        <header>
          <h1><%= current_article.title %></h1>
          <div class="Meta">
            <date class="Meta__Item" datetime="<%= current_article.date %>">
              <%= current_article.date.strftime('%b %e, %Y') %>
            </date>
            <ul class="Meta__Item tags">
              <% current_article.tags.each do |tag| %>
                <li><a href="<%= tag_path(tag) %>"><%= tag %></a></li>
              <% end %>
            </ul>
            <!--
            <ul class="Meta__Item -right ShareLinks">
              <li class="ShareLinks__Item">
                <a class="ShareLinks__Anchor -twitter" href="https://twitter.com/intent/tweet?url=https://blog.nakanishy.com<%= current_page.url %>&text=<%= current_page.data.title %>" title="Twitterで共有" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;">
                  <i class="ShareLinks__Icon lsf">twitter</i>Twitterでシェア
                </a>
              </li>
            </ul>
            -->
          </div>
        </header>
        <%= yield %>
        <footer class="PleaseShare">
          <i class="lsf" role="presentation">twitter</i>
          <span>
            この記事が気に入った方は、
            <a href="https://twitter.com/intent/tweet?url=https://blog.nakanishy.com<%= current_page.url %>&text=<%= current_page.data.title %>" title="Twitterで共有" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;">
              Twitterでシェア
            </a>
            して頂けるとうれしいです🐰
          </span>
        </footer>
      </article>
    </div>
  </div>
  <%= javascript_include_tag 'all' %>
</body>
</html>
