<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>blog.nakanishy.com<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= stylesheet_link_tag 'nakanishy' %>
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet" type="text/css">
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body>
  <%= partial "partials/header" %>
  <div class="content" role="main">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
  <%= partial "partials/footer" %>
  <%= javascript_include_tag 'all' %>
</body>
</html>
